In [16]:
import pandas 

Escola = {
    'Nomes' :["Hugo", "Lucas" , "Henrique"],
    'Notas1':[5, 6 , 7],
    'Notas2':[8, 9 , 6]
}

myvar = pandas.DataFrame(Escola)

print(myvar)

      Nomes  Notas1  Notas2
0      Hugo       5       8
1     Lucas       6       9
2  Henrique       7       6

{'cars': ['BMW', 'Volvo', 'Ford'], 'passings': [3, 7, 2]}